{% extends 'base/base.html' %}

{% block content %}
    <form method="POST" class="my-4">
        {% csrf_token %}

        {% for field in form %}
            <div class="py-2 form-floating">
                {{ field }}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
            </div>
            <p>{{ field.errors }}</p>
        {% endfor %}

        <button type="submit" class="btn btn-primary d-block w-100 mt-3">
            Guardar
        </button>
    </form>
{% endblock %}